<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949665483708-14fv857nhhnbdfrklnrhkac42j2ng4ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949665483708-14fv857nhhnbdfrklnrhkac42j2ng4ga</string>
	<key>API_KEY</key>
	<string>AIzaSyBBEzx6hgU49QvcGR_D0KDFSiV-uux4b4A</string>
	<key>GCM_SENDER_ID</key>
	<string>949665483708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raihan.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-e5386</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-e5386.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949665483708:ios:b19a021d6d89bf00</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-e5386.firebaseio.com</string>
</dict>
</plist>